<section class="instragram">
	<div class="container">
		<div class="instragram__wrapper">
			<h2 class="section-title">
				- Last Instagram Shot
			</h2>
			<a href="#" class="instragram__link">
				go to our instagram page -
			</a>
		</div>
		<ul class="instragram__list">
			<li class="instragram__item">
				<img src="./img/instagram/instagram-1.jpg" alt="instagram-1" class="instragram__img">
			</li>
			<li class="instragram__item">
				<img src="./img/instagram/instagram-2.jpg" alt="instagram-2" class="instragram__img">
			</li>
			<li class="instragram__item">
				<img src="./img/instagram/instagram-3.jpg" alt="instagram-3" class="instragram__img">
			</li>
			<li class="instragram__item">
				<img src="./img/instagram/instagram-4.jpg" alt="instagram-4" class="instragram__img">
			</li>
		</ul>
	</div>
</section>